.App {
  background: #e9e1d5;
  display: flex;
  
  justify-content: center;
  min-height: 100vh;
  padding: 1em;
}

/*Defaults*/

input {
  border-style: solid;
  border-radius: 0.2em;

  -webkit-box-shadow: 1px 1px 5px 5px inset #0000006c; 
  box-shadow: 1px 1px 5px 5px inset #0000000a;

  min-height: 2em;
}

textarea {
  min-height: 8em;
}

button {
  color: white;
  font-weight: bold;
  background: #17255A;
  padding: 0.6em 1em;
  border-radius: 3em;
  border-style: none;
}

button :active {
  color: #17255A;
  background: white;
}


/*Main Section*/



.form-container form{
  background-color: white;
  padding: 2em;
  

  width: 400px;
  max-width: 90vw;
  
  -webkit-box-shadow: 5px 5px 15px 5px #0000006c; 
  box-shadow: 5px 5px 15px 5px #0000006c;
}

.form-container article{
  background-color: white;
  padding: 2em;
  
  text-align: center;

  width: 400px;
  max-width: 90vw;
  
  -webkit-box-shadow: 5px 5px 15px 5px #0000006c; 
  box-shadow: 5px 5px 15px 5px #0000006c;
}

.form-container h1 {
  padding-bottom: 1em;
}

.form-container fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-container label {
  font-weight: bold;
}


.error-message {
  color: red;
}

/* Media Queries */

@media only screen and (min-width: 600px) {
  .App {
  
    align-items: center;
  }
}